:root{
  --dark:#1d1d1f;
  --gray:#6E6E73;
  --light:#f5f5f7;
}
@font-face {
  font-family: SF-pro-thin;
  src: url(./Fonts/SF-Pro-Text-Light.otf);
}
@font-face {
  font-family: SF-pro-light;
  src: url(./Fonts/SF-Pro-Display-Light.otf);
}
@font-face {
  font-family: SF-pro-regular;
  src: url(./Fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: SF-pro-medium;
  src: url(./Fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
  font-family:SF-pro-heavy;
  src: url(./Fonts/SF-Pro-Display-Heavy.otf);
}
@font-face {
  font-family:Helvetica-Neue-Light;
  src: url(./Fonts/HelveticaNeueLight.otf);
}

@keyframes EMI-offer-ani{
  from{
    top: -58px;
    z-index: -1;
  }
  to{
    top: 0px;
    z-index: -1;
  }
}

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--light);
  color: var(--dark);
}
a{
  color: #06c;
  text-decoration: none;
}
.navbar{
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: SF-pro-regular;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.8px;
  background-color: var(--light);
}
.navbar > div{
  width: 996px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0PX 20px;
}
.navbar a{
  text-decoration: none;
  color: #0c0c0ccc;
  transition: color 0.6s ease;
}
.navbar a:hover{
  color: black;
}
.logo-img{
  width: 16px;
  height: 16px;
}

/* search icon */
  .search-container{
    height: 16px;
    width: 16px;
    margin-right: 6px;
  }
  .search{
    position: relative;
    height: 8px;
    width: 8px;
    border: 2px solid #0c0c0ccc;
    border-radius: 20px;
    background-color: var(--light);
    z-index: 2;
    transition: border-color 0.6s ease;
  }
  .search:hover{
    border-color: black;
  }
  .search::before{
  content: '';
  height:6px;
  width: 1.5px;
  left: 10px;
  top: 7.5px;
  position: absolute;
  border-radius:10px 10px 0px 0px;
  background-color: #0c0c0ccc;
  transform: rotate(135deg);
  z-index: -1;
  transition: background-color 0.6s ease;
  }
  .search:hover::before{
    background-color: black;
  }
    
/* cart bag */
  .bag-container{
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 6px;
    position: relative;
    right: 6px;
    bottom: 1px;
  }
  .bag{
    position: relative;
    height: 10px;
    width: 10px;
    border: 2px solid #0c0c0ccc;
    border-radius:3px ;
    display: flex;
    align-items: top;
    justify-content: center;
    transition: border-color 0.6s ease;
  }
  .bag:hover{
    border-color: #1d1d1f;
  }
  .bag::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 4px;
    top: -5px;
    left: 1.6px;
    border-top: 2px solid #0c0c0ccc;
    border-left: 2px solid #0c0c0ccc;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 7px;
    transform: rotate(45deg);
    transition: border-color 0.6s ease;
  }
  .bag:hover::before{
    border-top-color: black;
    border-left-color: black;
  }
  .bag-qty{
    position: absolute;
    color:var(--light);
    background-color: var(--dark);
    padding: 1px 4px;
    border-radius: 9px;
    font-size: 10px;
    top: 8px;
    left: 6px;
  }
  .transparent{
    background-color: transparent !important;
    color: transparent !important;
  }

.EMI-offer{
  position: relative;
  height: 58px;
  font-size: 14px;
  font-family: SF-pro-thin;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: EMI-offer-ani 1s ease-out;
}
.EMI-offer a{
  margin-left: 5px;
}
.EMI-offer a:hover{
  text-decoration: underline;
}

header{
  display: flex;
  justify-content: center;
  color: var(--dark);
}
header > div{
  height: 228px;
  min-width: 81vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading{
  font-size: 80px;
  font-family: SF-pro-regular;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 15px;
}
.sub-heading-container{
  padding-top: 55px;
}
.sub-heading{
  font-size: 28px;
  font-family: SF-pro-regular;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: right;
}
.store-visit-link{
  font-family: SF-pro-light;
  text-align: right;
  height: 54px;
  padding-top: 40px;
}

/* Category */
.category{
  display: flex;
  flex-direction: row;
  padding: 34px 0px 0px;
  margin-bottom: 66px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.category::-webkit-scrollbar{
 display: none;
}
.category>div:first-child, .category>div:last-child{
  cursor:auto;
}
.category>div{
  height: 148px;
  width: 146px;
  padding-right: 26px;
  scroll-snap-align:start;
  cursor: pointer;
}

.cat-img{
  height: 94px;
  width: 120px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.cat-img img{
  height: 78px;
  width: 120px;
}
.cat-name{
  width: 120px;
  font-size: 14.8px;
  text-align: center;
  font-family: SF-pro-medium;
  font-weight: 500;
  color: var(--dark);
  letter-spacing: 0.2px;
}
.cat-name:hover{
  text-decoration: underline;
}
.scroll-btn{
  position: absolute;
  background-color: #e0dedeaf;
  color: #575757;
  height: 56px;
  width: 56px;
  border-radius: 30px !important;
  cursor: pointer;
  transition: opacity 0.6s ease;
  z-index: 3;
}
.scroll-btn:hover{
  background-color: #d1d1d1b3;
}
#back-btn{
  top: 393px;
  left: 18px;
}
#next-btn{
  top: 393px;
  right: 18px;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
.no-transition{
  opacity: 0;
}

/* Latest Products */
.category-header{
  font-size: 28px;
  font-family:SF-pro-regular ;
  font-weight: 650;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
}
.category-header>span:first-child{
  color: var(--dark);
  margin-left: 140px;
}
.category-header>span:last-child{
  color: var(--gray);
}
.ctg-container{
  height: 500px;
  margin:30px 0px 80px;
  display: flex;
  align-items: center;
}
.ctg-scrolling{
  display: grid;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  grid-template-rows: 500px;
  padding: 16px 0px;
}
.latest-items{
  grid-template-columns: repeat(9,420px) 260px;
}
.ctg-scrolling::-webkit-scrollbar{
  display: none;
}
.ctg-scrolling>div{
  scroll-snap-align: start;
  background-size: 100% 100%;
  border-radius: 18px;
}
.ctg-scrolling>div>div{
  border-radius: 18px;
  height: 100%;
  background-size: 100% 100%;
  position: relative;
  left: 140px;
  box-shadow: 2px 4px 12px #00000014;
  transition: all 0.5s ease;
  cursor: pointer;
}
.latest-items>div>div{
  width: 400px;
}
.ctg-scrolling>div>div:hover{
  transform: scale(1.01);
  box-shadow: 2px 4px 12px #00000040;
}
.back-btn{
  left: 18px;
}
.next-btn{
  right: 18px;
}
.white{
  color: white;
}
.latest-items>div>div>div:first-child,.help-section>div>div>div:first-child{
  font-size: 27.5px;
  font-family:SF-pro-regular;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 52px 0px 6px 30px;
}
.latest-items>div>div>div:nth-child(2),.help-section>div>div>div:nth-child(2){
  font-size: 17px;
  font-family:SF-pro-regular;
  letter-spacing: 1px;
  padding: 4px 0px 8px 30px;
}
.latest-items>div>div>div:nth-child(2){
  font-weight: 600;
}
.latest-items>div>div>div:nth-child(3){
  font-size: 14px;
  font-family:SF-pro-thin;
  padding-left: 30px;
}

.js-add-to-bag{
  font-size: 16px;
  width: 110px;
  font-family:SF-pro-medium;
  background-color:transparent ;
  color: transparent;
  border-radius: 30px;
  padding: 10px 0px;
  position: absolute;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.latest-items>div>div>div:last-child{
  left: 145px;
  bottom: 30px;
}
.latest-items>div>div:hover .last-child{
    background-color: #0076DF;
    color: white;
    bottom: 45px;
}

/* Help section */
.help-section{
  grid-template-rows: 500px;
  grid-template-columns: repeat(4,500px) 420px repeat(2,500px);
}
.help-section>div>div{
  width: 480px;
}
.help-section>div:nth-child(5)>div{
  width: 400px;
}
.help-section>div:last-child{
  width: 760px;
}
.help-section>div>div>div:nth-child(2){
  letter-spacing: 0.6px;
}
.ctg-tag{
  position: absolute;
  top: 25px;
  padding-left: 30px;
  font-size: 12px !important;
  color:#5f5e5e;
  font-family: SF-pro-medium !important;
}

/* Accessories section */
.acces-section{
  grid-template-rows: 500px;
  grid-template-columns: repeat(9, 333px);
}
.acces-section>div:last-child{
  width: 518px;
}
.acces-section>div>div{
  width: 313px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acces-section>div>div>div{
  height: 440px;
  width: 253px;
}
.prod-img{
  width: 100%;
  height: 271px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.prod-img>div{
  height: 230px;
  width: 230px;
  background-size: 100% 100%;
}
.prod-detail>div:nth-child(2){
  font-size: 12px;
  font-family: SF-pro-medium;
  letter-spacing: 0.7px;
  color: #B64400;
  margin: 58px 0px 10px;
  height: 8px;
}
.prod-detail>div:nth-child(3){
  font-size: 17px;
  font-family: SF-pro-regular;
  font-weight: 600;
  letter-spacing: 1px;
}
.prod-detail>div:last-child{
  font-size: 15px;
  font-family: SF-pro-light;
  letter-spacing: 0.7px;
  position: absolute;
  bottom: 30px;
}
.acces-atb{
  left: 101.5px;
  bottom: 140px;
}
.product:hover .acces-atb{
  background-color: #0076DF;
  color: white;
  bottom: 155px;
}

/* sound section */
.sound-section{
  grid-template-rows: 500px;
  grid-template-columns: repeat(8, 333px);
}