:root{
  --dark:#1d1d1f;
  --gray:#6E6E73;
  --light:#f5f5f7;
  --theme:#0076df;
}
@font-face {
  font-family: SF-pro-thin;
  src: url(./Fonts/SF-Pro-Text-Light.otf);
}
@font-face {
  font-family: SF-pro-light;
  src: url(./Fonts/SF-Pro-Display-Light.otf);
}
@font-face {
  font-family: SF-pro-regular;
  src: url(./Fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: SF-pro-medium;
  src: url(./Fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
  font-family:SF-pro-heavy;
  src: url(./Fonts/SF-Pro-Display-Heavy.otf);
}
@font-face {
  font-family:Helvetica-Neue-Light;
  src: url(./Fonts/HelveticaNeueLight.otf);
}
body{
  background-color:white;
}
.navbar{
  background-color: white;
}
.EMI-offer{
  height: 72px;
  display: flex;
  flex-direction: column;
  background-color: var(--light);
}
.bag-items-container{
  display: flex;
  justify-content: center;
}
.bag-items-sub-container{
  width: 64vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.empty-bag-head,.total-head>div{
  font-size: 40px;
  font-family: SF-pro-regular;
  font-weight: 600;
  margin: 48px 0px 14px;
  letter-spacing: 1px;
}
.empty-bag-subhead{
  font-size: 18px;
  font-family: SF-pro-light;
  letter-spacing: 0.4px;
  margin-bottom: 36px;
}
.empty-bag-btn{
  font-size: 17px;
  padding: 17px 0px;
  width: 360px;
  border-radius: 12px;
  border: 1px solid var(--theme);
  font-weight: 300;
  cursor: pointer;
}
.sign-in-btn, .continue-btn:hover{
  background-color: var(--theme);
  color: white;
}
.continue-btn{
  background-color: white;
  color: var(--theme);
  margin-left: 12px;
}
.total-head{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.total-head>div{
  margin: 52px 0px 36px;
  text-align: center;
}
.check-out{
  width: 290px;
  background-color: var(--theme);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 0px;
  font-family: SF-pro-light;
  letter-spacing: 0.5px;
}
.bag-items-list-container{
  margin: 60px 0px;
  width: 60vw;
}
.bag-items-list-container>div{
  width: 64vw;
  border-top: 1px solid #D2D2D7;
  display: grid;
  grid-template-columns: 225px auto;
  grid-template-rows: 160px 65px;
  grid-column-gap: 20px;
  padding: 78px 0px 76px;
}
.bag-items-list-container>div>div:first-child{
  grid-area: 1/1/3/2;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  border-radius: 15px;
}
.bag-prod-detail{
  grid-area: 1/2/2/3;
}
.bag-prod-detail>div:first-child{
  font-size: 24px;
  display: grid;
  grid-template-columns: 55% 15% 30%;
  font-family: SF-pro-regular;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
select{
  font-size: 24px;
  font-family: SF-pro-regular;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  width: 35px;
}
.bag-prod-detail>div>span:last-child{
  text-align: right;
}
.bag-prod-detail>div:nth-child(2){
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  font-family: SF-pro-light;
  letter-spacing: 0.5px;
}
.bag-prod-detail>div:last-child{
  margin-top: 15px;
  text-align: right;
}
.bag-prod-detail>div:last-child>button{
  font-size: 18px;
  font-family: SF-pro-regular;
  text-decoration: underline;
  color:var(--theme);
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.bag-delhivery-detail{
  grid-area: 2/2/3/3;
  border-top: 1px solid #D2D2D7;
}
.bag-delhivery-detail>div{
  display: grid;
  grid-template-columns: 52% 48%;
  grid-template-rows: 30px 10px;
  margin-top: 20px;
}
.bag-delhivery-detail>div>div:first-child{
  font-size: 17px;
  grid-area: 1/1/2/3;
  font-family: SF-pro-regular;
  letter-spacing: 1px;
}
.bag-delhivery-detail>div{
  font-size: 15px;
  font-family: SF-pro-light;
  letter-spacing: 0.5px;
}
.bag-delhivery-detail>div>div>img{
  height: 22px;
  width: 22px;
  position: relative;
  top: 5px;
}

.checkout-container{
  width: 64vw;
  border-top: 1px solid #D2D2D7;
  display: flex;
  justify-content: right;
  margin-top: -50px;
}
.checkout-container>div{
  width: 75.5%;
  margin-top: 30px;
}
.subtotal-shipping,.total{
  font-size: 17px;
  font-family: SF-pro-light;
  letter-spacing: 1px;
}
.text-space-bw{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.total{
  border-top: 1px solid #D2D2D7;
  margin-top: 16px;
  padding-top: 7px;
}
.total>div:first-child>span{
  font-size: 24px;
  font-family: SF-pro-regular;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
}
.checkout-container>div>div:nth-child(3){
  text-align: right;
  font-size: 15px;
  font-family: SF-pro-light;
  margin-top: 14px;
}
.checkout-container>div>div:last-child{
  text-align: right;
  margin-top: 50px;
}
.checkout-container>div>div:last-child>button{
  background-color: var(--theme);
  font-size: 18px;
  height:54px ;
  width: 360px;
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
}

/* Help & chat & calling number */
.help-num{
  margin-top: 100px;
  font-size: 17px;
  font-family: SF-pro-light;
  padding: 23px 0px;
  border-top: 1px solid #D2D2D7;
  border-bottom: 1px solid #D2D2D7;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
}
.help-num div{
  width: 64vw;
}
.help-num div a{
  text-decoration: underline;
}

.displayNone{
  display: none;
}

@media screen and (max-width: 600px) {

  .EMI-offer{
    height: 100px;
  }
  .EMI-offer>div{
    width: 80vw;
  }
  .empty-bag-sub-container{
    width: 90%;
  }
  .empty-bag-head,.total-head>div{
  font-size: 25px;
  }
  .empty-bag-btn{
    width: 100%;
  }
  .continue-btn{
    margin: 20px 0px 0px;
  }
  .check-out{
    width: 85vw;
  }

  .bag-items-list-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bag-items-list-container>div{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .bag-items-list-container>div>div:first-child{
    width: 60%;
    height: 270px;
    margin-bottom: 30px;
    margin-top: -20px;
  }
  .bag-prod-detail{
    width: 100%;
  }
  .bag-prod-detail>div:first-child{
  font-size: 21px;
  grid-template-rows: 50px 50px;
  grid-template-columns: 70% auto;
  margin: 0px;
  }
  .bag-prod-detail>div>span:last-child{
    grid-area: 2/2/3/3;
  }
  .bag-prod-detail>div>span:nth-child(2){
    grid-area: 1/2/2/3;
    text-align: right;
  }
  select{
    background-color: white;
  }
  .bag-prod-detail>div:nth-child(2){
   font-size: 13px;
  }
  .bag-prod-detail>div:last-child{
   margin:30px 0px 30px;
  }

  .bag-delhivery-detail>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
  }

  .checkout-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    border: none;
  }
  .checkout-container>div{
    width: 80%;
  }
  .subtotal-shipping{
    border-top: 1px solid #D2D2D7;
    padding-top: 15px;
  }
  .total>div:first-child>span{
   font-size: 20px;
  }
  .total>div:last-child>span{
   font-size: 13px;
  }
  .checkout-container>div>div:nth-child(3){
    font-size: 13px;
  }

  .help-num{
    justify-content: left;
    padding-left: 10vw;
  }
  .help-num>div{
    width: 70%;
    text-align: left;
  }
  }